html,
body {
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    background-color: white;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

.navbar {
    padding: .8rem;
}

.top-header-tags {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.top-header-tags a {
    color: white !important;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-brand h1 {
    font-weight: 700;
}

.nav-link {
    font-size: 1.1em !important;
    font-weight: 500;
}

a.nav-link {
    font-weight: 900;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.jumbotron {
    padding: 1rem;
    border-radius: 3px;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-bold {
    color: #563d7c;
}

.fa-code,
.fa-bold,
.fa-css3 {
    font-size: 2em;
    margin: 1rem;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #dd4b39;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #ABBA16;
}

footer {
    background-color: #d5d5d5;
    color: #343a40;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #ABBA16;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #ABBA16;
}

hr.light-100 {
    border-top: 1px solid #ABBA16;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/*-- Media Queries --*/

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) {}

.display-4 {
    font-size: 200%;
}

.social a {
    font-size: 2.5em;
    padding: 1.2rem;
}

.carousel-indicators {
    display: none;
}

.display-4 {
    font-size: 160%;
}

.social a {
    font-size: 2em;
    padding: .7rem;
}


/*--Firefox Bug Fix--*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*********** ADS Section ********/


/******** ADS Header *******/

.ads {
    margin: 20px auto;
}

.header {
    width: 50%;
    margin: 12px auto;
    text-align: center;
}

.header h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

.buying,
.payment,
.delivery {
    margin: 25px 0;
    padding: 2.5rem 1.25rem;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px !important;
    background-color: #211300;
}

.buying,
.payment,
.delivery {
    display: flex;
    flex-direction: row;
}

.buying-icon {
    width: 25%;
    padding-top: 0.875rem;
    margin-right: 12px;
}


/******** ADS icons *******/

i.fas {
    color: white;
    padding: .7rem 1.2rem;
    background-color: #fa7b07;
    border-radius: 50%;
    position: relative;
    right: 8px;
}

i.fas:hover {
    background-color: white;
    color: #fa7b07;
}


/******* ADS Notes **********/

.buying-note h3 {
    font-weight: 700;
    color: white;
}

.buying-note p {
    color: white;
    font-weight: 500;
}

.buying-note a p {
    width: 50%;
}

.buying-note a p:hover {
    color: #fa7b07;
}


/*********** ADS Section ends *******/